@import 'colors';
@import 'general';

.button-main {
  @include shadow;
  @include title-font;
  background-color: $teal;
  border-color: $teal;
  border-radius: 4px;
  padding: 10px;
  min-width: 150px;

  color: white;
  font-size: 20px;

  transition: $transition;

  &:hover {
    opacity: 0.8;
  }
}

.input {
  @include regular-font;
  font-weight: 300;
  height: 35px;
  border: 1px solid $slate;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  font-size: 18px;
}
