@import 'colors';

// Breakpoints
@mixin xs-only {
  @media (max-width: 599px) { @content; }
}

@mixin small-and-up {
  @media (min-width: 600px) { @content; }
}

@mixin medium-and-up {
  @media (min-width: 900px) { @content; }
}

@mixin large-and-up {
  @media (min-width: 1200px) { @content; }
}

@mixin xl-and-up {
  @media (min-width: 1800px) { @content; }
}

// Constants
@mixin regular-font {
  font-family: 'Open Sans', sans-serif;
}

@mixin title-font {
  font-family: 'Cinzel', serif;
}

@mixin shadow {
  box-shadow: 1px 1px 4px $slate;
}

$transition: all 0.15s;
