@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import 'colors';
@import 'general';
@import 'tabs';
@import 'controls';
@import 'game-start';
@import 'game-end';
@import 'game';

body {
  margin: 0;
  color: $black;
  font-family: 'Open Sans Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: initial;
}

.title-font {
  @include title-font;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: black url('../images/crow.jpg') no-repeat fixed left;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 1px solid $slate;
}

.page-title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 28px;
  text-align: center;
  color: white;

  @include medium-and-up {
    font-size: 48px;
  }
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.box {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;

  @include large-and-up {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
